name: Playit Windows RDP
on: 
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Download Playit.gg Portable
      run: |
        Invoke-WebRequest -Uri "https://github.com/playitcloud/playit-agent/releases/latest/download/playit-windows-x86_64.exe" -OutFile "playit.exe"

    - name: Enable Remote Desktop (RDP)
      run: |
        # فعال سازی پورت 3389 و تنظیمات رجیستری برای اجازه اتصال
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
        
    - name: Create RDP User
      run: |
        # ساخت کاربر جدید با دسترسی ادمین
        $Password = ConvertTo-SecureString "P@ssw0rd123!" -AsPlainText -Force
        New-LocalUser "AdminUser" -Password $Password -Description "RDP User"
        Add-LocalGroupMember -Group "Remote Desktop Users" -Member "AdminUser"
        Add-LocalGroupMember -Group "Administrators" -Member "AdminUser"

    - name: Run Playit Tunnel
      # اجرای تانل با استفاده از سکرت ذخیره شده در گیت‌هاب
      run: .\playit.exe --secret ${{ secrets.PLAYIT_SECRET }}
