name: CI
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Download ngrok v3
      run: Invoke-WebRequest -Uri "https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-windows-amd64.zip" -OutFile "ngrok.zip"

    - name: Extracting ngrok
      run: Expand-Archive ngrok.zip -DestinationPath .

    - name: Auth Ngrok
      run: .\ngrok.exe authtoken ${{ secrets.NGROK_AUTH_TOKEN }}

    - name: Enable Remote Desktop
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
        
    - name: Create User
      run: |
        $Password = ConvertTo-SecureString "P@ssw0rd123!" -AsPlainText -Force
        New-LocalUser "AdminUser" -Password $Password -Description "RDP User"
        Add-LocalGroupMember -Group "Remote Desktop Users" -Member "AdminUser"
        Add-LocalGroupMember -Group "Administrators" -Member "AdminUser"

    - name: Start Tunnel (Asia/India Region)
      # استفاده از ریجن هند (in) برای سرعت بهتر در ایران
      run: .\ngrok.exe tcp --region in 3389
